/.vscode
/backups
/coremods
/crash-reports
/defaultconfigs
/fancymenu_data
/icon.png
/journeymap
/local
/logs
/modernfix
/mods
/patchouli_books
/patchouli_data.json
/resourcepacks
/rhino.local.properties
/saves
/schematics
/screenshots
/server-resource-packs
/shaderpacks
/skyblockbuilder
/texturepacks
/usercache.json
/usernamecache.json
/config/jei/world/local/bookmarks.ini
/skyblockbuilder/data/dimensions.txt
/config/powah.json5